
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-rollouts
spec:
  template:
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: argo-rollouts
          image: quay.io/argoproj/argo-rollouts:v1.0.2
