[submodule "argo-cd/base/argo-cd"]
	path = argo-cd/base/argo-cd
	url = https://github.com/argoproj/argo-cd.git
	branch = master
[submodule "argo-rollouts/base/argo-rollouts"]
	path = argo-rollouts/base/argo-rollouts
	url = https://github.com/argoproj/argo-rollouts
[submodule "argo-workflows/base/argo-workflows"]
	path = argo-workflows/base/argo-workflows
	url = https://github.com/argoproj/argo-workflows
