apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
spec:
  template:
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: argocd-server
        image: jas612/argocd:v2.1.0 # cyrilix/argocd:v2.0.5
        command: [argocd-server, --staticassets, /shared/app, --insecure]
        env:
          - name: TZ
            value: Europe/Madrid
