apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-repo-server
spec:
  template:
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: argocd-repo-server
        image: cyrilix/argocd:v2.0.4
        env:
          - name: ARGOCD_EXEC_TIMEOUT
            value: "8m"
          - name: TZ
            value: Europe/Madrid
