apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- ingress-traefik.yaml
- regcred.yaml
patchesStrategicMerge:
- argocd-application-controller-statefulset-patch.yaml
- argocd-dex-server-deployment-patch.yaml
- argocd-repo-server-deployment-patch.yaml
- argocd-server-deployment-patch.yaml
patches:
- path: redis_patch.json
  target:
    group: apps
    version: v1
    kind: Deployment
    name: argocd-redis
#- path: regcred_patch.json
#  target:
#    group: apps
#    version: v1
namespace: argocd
