apiVersion: apps/v1
kind: Deployment
metadata:
  name: eventsource-controller
spec:
  template:
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: eventsource-controller
          image: alvarogg777/eventsource-controller:v1.3.1
          env:
            - name: EVENTSOURCE_IMAGE
              value: alvarogg777/eventsource:v1.3.1
